<% unless current_page.url == '/' %>
  <%= partial 'partials/navigation' %>
<% end %>

<% if build? %>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6457332-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-6457332-1');
  </script>

<% end %>

  <%= javascript_include_tag "application" %>
</body>
</html>
