---
title: Nenad Kostić
layout: page
---

<header>
  <h1>Nenad Kostić</h1>
  <h2>
    Developer, web, audio and art enthusiast, husband…
  </h2>
  <p>Edmonton, Canada</p>
</header>

<section class="box box--no-divider t-lead">
  <%= partial "partials/about/intro" %>
</section>

<section id="work" class="page box box--transparent">
  <h2>Current work situation:</h2>

  <h2>Lead Developer and Busines Analyst at Frontech Solutions Inc.</h2>

  <h3>A digital agency building products and services.</h3>

  <hr>

  <div class="l-2-columns">

    <div class="l-2-columns__column">
      <h4>Services</h4>

      <ul>
        <li>Concepts</li>
        <li>Strategy</li>
        <li>Development</li>
        <li>Deployment</li>
        <li>Maintenance</li>
        <li>Security</li>
        <li>Upgrade</li>
        <li>Consulting</li>
        <li>Training</li>
      </ul>
    </div>

    <div class="l-2-columns__column">
      <h4>Technologies </h4>

      <ul>
        <li><a href="https://developer.mozilla.org/bm/docs/Web/JavaScript" target="_blank">JavaScript</a></li>
        <li><a href="https://nodejs.org/en/about/" target="_blank">Node JS</a></li>
        <li><a href="https://docs.microsoft.com/en-us/sql/sql-server/sql-server-technical-documentation?view=sql-server-2017" target="_blank">MSSQL</a></li>
        <li><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
        <li><a href="http://www.php.net/" target="_blank">PHP</a></li>
        <li><a href="https://wordpress.com/" target="_blank">WordPress</a></li>
        <li><a href="https://www.adobe.com/products/coldfusion-family.html" target="_blank">ColdFusion</a></li>
        <li><a href="http://www.getmura.com/" target="_blank">Mura CMS</a></li>
        <li><a href="https://www.rabbitmq.com/" target="_blank">Rabbit MQ</a></li>
        <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
      </ul>
    </div>

  </div>

  <h4>Clients</h4>

  <p>Privately held and listed companies, startups and organisations. Check out <a href="http://frontech.ca/">Frontech Website</a> for more details.</p>

  <h4>Links</h4>

  <ul class="t-list-inline">
  <li><a href="http://frontech.ca/">Frontech</a><br></li>
  <li><a href="http://www.fitplm.com/">Fit PLM</a><br></li>
  <li><a href="http://www.fanplm.com/">Fan PLM</a><br></li>
  <li><a href="https://www.facebook.com/FrontechInc">Facebook</a><br></li>
  <li><a href="https://frontechracing.com/">Racing</a><br></li>
  </ul>

  <hr>

</section>

<section id="work-previous" class="box box--transparent">
  <%= partial "partials/about/work_previous" %>
</section>

<section id="academic-achievements" class="box box--transparent">
  <h2>Academic achievements</h2>

  <hr>

  <div class="l-2-columns">

    <div class="l-3-columns__column">
      <h4>Completed</h4>

      <p>VISER - School of Electrical Engineering & Computer Science Applied Studies.<br>
      2011 – 2013<br>
      Bachelor of Science</p>

      <p>VISER - School of Electrical Engineering & Computer Science Applied Studies.<br>
      2004 – 2009
      College</p>

      <p>Nikola Tesla<br>
      School of Electrical Engineering.<br>
      1995 - 1999
      High School</p>

    </div>
  </div>
</section>

<section id="work" class="page box box--transparent">
  <h2>Outside work:</h2>

  <h2>Experimenting with Web and Audio Technologies.</h2>

  <h3>Working on freelance and hobby projects.</h3>

  <hr>

  <div class="l-2-columns">

    <div class="l-2-columns__column">
      <h4>My fav stack </h4>

      <ul>
        <li><a href="https://vuejs.org/" target="_blank">VueJS</li> 
        <li><a href="https://graphql.org/" target="_blank">GraphQL</a></li>
        <li><a href="https://nodejs.org/en/about/" target="_blank">Node JS</a></li>
        <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
      </ul>

    </div>

    <div class="l-2-columns__column">
      <h4>Excited about and improving with</h4>

      <ul>
        <li><a href="https://elixir-lang.org/" target="_blank">Elixir</a></li> 
        <li><a href="http://elm-lang.org/" target="_blank">Elm</a></li>
        <li><a href="https://kubernetes.io/" target="_blank">Kubernetes</a></li>
        <li><a href="https://www.blockchain.com/" target="_blank">Blokchain</a></li>
      </ul>
      
    </div>

  </div>

  <h4>Links</h4>

  <ul class="t-list-inline">
  <li><a href="http://nenadkostic.com/">Home</a><br></li>
  <li><a href="https://github.com/nkostic">GitHub</a><br></li>
  <li><a href="https://twitter.com/Nesha8x8">Twitter</a><br></li>
  </ul>

  <hr>

</section>

<section id="computing" class="box box--transparent">
  <%= partial "partials/about/computing" %>
</section>

<section id="homepage" class="box box--transparent">
  <%= partial "partials/about/homepage" %>
</section>
