---
title: Nenad Kostić
layout: page
---

<header>
  <h1>Nenad Kostić</h1>
  <h2>
    Developer, web and audio enthusiast, husband…
  </h2>
  <p>Edmonton, Canada</p>
</header>

<section class="box box--no-divider t-lead">
  <%= partial "partials/about/intro" %>
</section>

<section id="work" class="page box box--transparent">
  <h2>Current work situation:</h2>

  <h2>Lead Developer and Busines Analyst at Frontech Solutions Inc.</h2>

  <h3>A digital agency building products and services.</h3>

  <hr>

  <div class="l-2-columns">

    <div class="l-2-columns__column">
      <h4>Services</h4>

      <ul>
        <li>Concepts</li>
        <li>Strategy</li>
        <li>Development</li>
        <li>Deployment</li>
        <li>Maintenance</li>
      </ul>
    </div>

    <div class="l-2-columns__column">
      <h4>Technologies </h4>

      <ul>
        <li>PHP, ColdFusion</li>
        <li>JavaScript, jQuery, RactiveJS</li>
        <li>Node JS</li>
        <li>MySQL, MSSQL</li>
        <li>WordPress</li>
      </ul>
    </div>

  </div>

  <h4>Clients</h4>

  <p>Privately held and listed companies, startups and organisations. Our mothership is in Edmonton, but we are also present in Unated States and Europe.</p>

  <h4>Links</h4>

  <ul class="t-list-inline">
  <li><a href="http://frontech.ca/">Frontech</a><br></li>
  <li><a href="http://www.fitplm.com/">Fit PLM</a><br></li>
  <li><a href="http://www.fanplm.com/">Fan PLM</a><br></li>
  <li><a href="https://www.facebook.com/FrontechInc">Facebook</a><br></li>
  <li><a href="https://frontechracing.com/">Racing</a><br></li>
  </ul>

  <hr>

</section>

<section id="work-previous" class="box box--transparent">
  <%= partial "partials/about/work_previous" %>
</section>

<section id="academic-achievements" class="box box--transparent">
  <h2>Academic achievements</h2>

  <hr>

  <div class="l-2-columns">

    <div class="l-3-columns__column">
      <h4>Completed</h4>

      <p>VISER - School of Electrical Engineering & Computer Science Applied Studies.<br>
      2011 – 2013<br>
      Bachelor of Science</p>

      <p>VISER - School of Electrical Engineering & Computer Science Applied Studies.<br>
      2004 – 2009
      College</p>

      <p>Nikola Tesla<br>
      School of Electrical Engineering.<br>
      1995 - 1999
      High School</p>

    </div>
  </div>
</section>

<section id="work" class="page box box--transparent">
  <h2>Outside work:</h2>

  <h2>Experimenting with Web And Audio Technologies.</h2>

  <h3>Always Learning and improving myself.</h3>

  <hr>

  <div class="l-2-columns">

    <div class="l-2-columns__column">
      <h4>JavaScript stack </h4>

      <ul>
        <li>React</li>
        <li>GraphQL</li>
        <li>Node JS</li>
        <li>Meteor</li>
        <li>Mongo</li>
      </ul>

    </div>

    <div class="l-2-columns__column">
      <h4>Excited about and improving with</h4>

      <ul>
        <li>Elixir</li>
        <li>Blokchain</li>
        <li>svg animations</li>
        <li>koa2</li>
        <li>Vue</li>
      </ul>
      
    </div>
  </div>
  <div class="l-2-columns">

    <div class="l-2-columns__column">
      <h4>PHP stack </h4>

      <ul>
        <li>Symfony 4</li>
        <li>Postgress 10</li>
      </ul>
      
    </div>

    <div class="l-2-columns__column">
      <h4>Audio Engineering stack </h4>

      <ul>
        <li>Ableton Live</li>
        <li>Axiom 25</li>
      </ul>

    </div>    

  </div>

  <h4>Links</h4>

  <ul class="t-list-inline">
  <li><a href="http://nenadkostic.com/">Home</a><br></li>
  <li><a href="https://github.com/nkostic">GitHub</a><br></li>
  <li><a href="https://twitter.com/Nesha8x8">Twitter</a><br></li>
  </ul>

  <hr>

</section>

<section id="computing" class="box box--transparent">
  <%= partial "partials/about/computing" %>
</section>

<section id="homepage" class="box box--transparent">
  <%= partial "partials/about/homepage" %>
</section>
