---
title: Nenad Kostićs Homepage
body_class: home
---

<article role="main" class="h-card">
  <figure>
    <%= image_tag 'nenad.jpg', alt: 'Nenad Kostić', class: 'u-photo' %>
  </figure>

  <h1><span class="intro">Hello,</span> I'm <a class="p-name u-url" href="http://www.nenadkostic.com"><span class="p-given-name">Nenad</span> <span class="p-family-name">Kostić</span></a>!</h1>
  <h2><span class="intro">Welcome to</span> my homepage.</h2>

  <p class="p-note">Driven by the love and thirst for knowledge I develop and lead projects at <a href="https://www.frontech.ca" class="p-org">Frontech Solutions Inc.</a> – a digital agency I work for with a great team of people.</p>

  <hr>

  <nav>
    <ol>
      <% unless current_page.url == '/' %>
        <li><a href="/">Index</a>
      <% end %>
      <li><a href="/about">About me</a></li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <!--<li>Misc stuff
        <ol>
          <li><a href="/hot">What's hot?</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/api">API</a></li>
          <li><a href="/links">Links</a></li>
        </ol>
      </li>-->
      <li>
        <a href="mailto:nenadkostic@gmail.com" class="u-email" rel="me">Email me</a> or see me elsewhere:
        <a href="https://github.com/nkostic" rel="me">GitHub</a>,
        <a href="https://www.linkedin.com/in/nenadkostic/" rel="me">LinkedIn</a>,
        <a href="https://stackoverflow.com/users/2088589/nesha8x8" rel="me">StackOverflow</a>,
        <a href="https://twitter.com/nesha8x8" rel="me">Twitter</a>…
      </li>
    </ol>
  </nav>
</article>

<script type="application/ld+json">
<%= nenad_json_data %>
</script>
